<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecycleviewSQLLITE"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBduM-P6VKUNI7YAJc0coWl0f-ik0RviTs" />
        <activity
            android:name=".ActivityMaps"
            android:exported="false" />
        <activity
            android:name=".UpdateVersion"
            android:exported="false" />
        <activity
            android:name=".ActivityDevice"
            android:exported="false" />
        <activity
            android:name=".TambahDevice"
            android:exported="false" />
        <activity
            android:name=".Detail_Recycle"
            android:exported="false" />
        <activity
            android:name=".Tambah"
            android:exported="false" />
        <activity
            android:name=".TambahData"
            android:exported="false"
            android:label="@string/title_activity_tambah_data"
            android:theme="@style/Theme.RecycleviewSQLLITE" />
        <activity
            android:name=".Detail"
            android:exported="false"
            android:label="@string/title_activity_detail"
            android:theme="@style/Theme.RecycleviewSQLLITE" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />

        <service android:name=".MyForegroundService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />
    </application>

</manifest>